#form{
  width:30%;
  margin:30px auto;
}
h1
{
  text-align: center;
}
/* body{
  background-image:url("https://images.pexels.com/photos/1687845/pexels-photo-1687845.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
} */